/.venv
github_hot/.env
github_trending_report/config/__pycache__
github_hot/output
github_hot/temp_article.md
github_trending_report/.env
github_hot/__pycache__/config.cpython-313.pyc
github_trending_report/config/__pycache__/prompts.cpython-312.pyc
github_trending_report/config/__pycache__/settings.cpython-312.pyc
github_trending_report/src/crawler/__pycache__/github_trending.cpython-312.pyc
github_trending_report/src/publisher/__pycache__/confluence.cpython-312.pyc
github_trending_report/src/publisher/__pycache__/wechat.cpython-312.pyc
github_trending_report/src/generator/__pycache__/article_generator.cpython-312.pyc
github_trending_report/data/20250502_1_WEEKLY_TREADING_WECHAT.text
github_trending_report/data/20250502_2_WEEKLY_TREADING_WECHAT.text
github_trending_report/data/20250502_monthly_1_WEEKLY_TREADING_WECHAT.text
github_trending_report/data/20250502_monthly_2_WEEKLY_TREADING_WECHAT.text
github_trending_report/data/20250502_monthly_3_WEEKLY_TREADING_WECHAT.text
github_trending_report/data/20250502_WEEKLY_TREADING_WECHAT.text
github_trending_report/data/20250509_weekly_WEEKLY_TREADING_WECHAT.text
github_trending_report/data/20250509_weekly_WEEKLY_TREADING_WECHAT1.text
github_trending_report/data/20250509_weekly_WEEKLY_TREADING_WECHAT2.text
github_trending_report/data/20250509_weekly_WEEKLY_TREADING_WECHAT3.text
github_trending_report/data/20250509_weekly_WEEKLY_TREADING_WECHAT4.text
data
github_trending_report/src/crawler/__pycache__/
github_trending_report/src/generator/__pycache__/
github_trending_report/src/publisher/__pycache__/

