/.venv
github_hot/.env
github_trending_report/config/__pycache__
github_hot/output
github_hot/temp_article.md
github_trending_report/.env
github_hot/__pycache__/
github_trending_report/config/__pycache_
github_trending_report/src/crawler/__pycache__
github_trending_report/src/publisher/__pycache__
github_trending_report/src/generator/__pycache__
github_trending_report/data